#content h1 {
    margin: 2em 1em;
    display: inline;
}

.ask > label {
	display: block;
	margin: 1em 1.5em 0.2em 1.5em;
}

.inputTitle, .questionText, .inputTags {
	padding: 5px;
	border: 2px solid black;
	box-shadow: 1px 1px 1px #555;
	margin: 0 1.5em; 
}

.ask button {
    display: block;
    width: 10%;
    height: 2.3em;
    padding: 0.5em;
    margin: 2em 1.5em;
    border: 0.1em solid black;
    border-radius: 0.2em;
    box-shadow: 3px 1px 5px #555;
    background: #ccc;
    outline: none;
    color: #fff;
}

.ask button:hover {
    background: #aaa;
    cursor: pointer;
}

.ask button:active {
    background: #aaa;
    box-shadow: none;
    cursor: pointer;
}