body, html {
    height: 100%;
    margin: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F1EBF9;
}

#siteName {
    flex: 1 1 15%;
    max-width: 15%;
}

#siteName a {
    width: 100%;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    padding: 1em 0.5em;
    border-right: 1px solid #bbb;
}

#search {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    flex: 3 1 45%;
    max-width: 45%;
}

#search button {
    display: inline;
    width: 10%;
    height: 2.3em;
    padding: 0.5em;
    margin: 0px 5%;
    border: 0.1em solid black;
    border-radius: 0.2em;
    box-shadow: 3px 1px 5px #555;
    background: #ccc;
    outline: none;
    color: #fff;
}

#search button:hover {
    background: #aaa;
    cursor: pointer;
}

#search button:active {
    background: #aaa;
    box-shadow: none;
    cursor: pointer;
}

#search input {
    width: 80%;
    height: 1.3em;
    padding: 0.3em 0.6em;
    border: 1px solid black;
    border-radius: 1em;
    outline: none;
    font-size: 16px;
}

#user {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
    flex: 1 1 15%;
    max-width: 15%;
}

#avatar {
    flex: 1 1 25%;
    max-width: 25%;
    border: 1px solid black;
}

#userInfo {
    flex: 3 3 75%;
    max-width: 75%;
}

#nick {
    display: block;
    text-align: center;
}

#links {
    display: flex;
    flex-direction: row;
}

#links a {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0.5em;
    margin: 0 5%;
    text-align: center;
    color: blue;
}

#links a:visited {
    color: blue;
}

main {
    display: flex;
    height: auto; 
    min-height: 100%;
    flex-direction: row;
    margin-bottom: 0px;
    background: #E2F2FD;
}

main > div {
    margin-top: 4.3em;
}

#content { 
    width: 65%;
}


#best {
    position: fixed;
    right: 0;
    width: 30%;
}

#best h2 {
    text-align: center;
}

.tags {
    margin-top: 2em;
    display: flex-block;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tag {
    margin: 0.5em;
    text-decoration: none;
    display: inline-block;
    flex-grow: 1;
}

.users {
    margin-top: 2em;
}

.user {
    display: block;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    color: blue;

}

footer {
    border-top: 1px solid #ccc;
    padding-top: 0.2em;
    padding-right: 1em; 
    text-align: right;
}

.font16 {
    font-size: 16px;
}

.font24 {
    font-size: 24px;
}

.font20 {
    font-size: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}