#content h1 {
    margin: 2em 1em;
    display: inline;
}

.questions {
    list-style: none;
}

.question {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 165px;
    min-width: 490px;
    margin: 20px 0px;
    padding: 5px;
    box-shadow: 1px 1px 5px #555;
    background: #FFF9F0;
}
.avatarAndLikes {
    width: 100px;
}

.avatar{
    margin: 5px;
}

.likes {
    position: center;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 40px;
    margin-left: 20px;
}

.likes .up {
    background: green;
}

.likes .down {
    background: red;
}

.likes label {
    border: 1px solid black;
    text-align: center;
    width: 30px;
    height: 28px;
    padding: 5px 0px;
}

.likes .ratingBtns {
    width: 30px;
    height 40px;
}

.likes .ratingBtns button{
    height: 20px;
    padding: 0px 6px;
}

.questionDescription{
    margin: 10px;
}

.questionDescription h3{
    height: 20px;
    margin: 0px;
}

.questionDescription p{
    height: 85px;
    margin: 10px 0px;
}

.questionTags {
    margin-left: 10%;
}

.counter {
    margin: 0px;
}

.pages {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.page{
    height: 30px;
    margin: 10px 3px;
    padding: 3px;
}

.page button{
    height: 30px;
    padding: 5px 10px;
    border: 0.1em solid black;
    box-shadow: 3px 1px 5px #555;
    background: #ccc;
    outline: none;
    color: #fff;
}

.page button:hover {
    background: #aaa;
    cursor: pointer;
}

.page button:active {
    background: #aaa;
    box-shadow: none;
    cursor: pointer;
}
