.question {
    display: flex;
    flex-direction: row;
    height: 165px;
    min-width: 490px;
    margin: 20px 30px;
    padding: 5px;
}
.avatarAndLikes {
    flex-grow: 1;
    min-width: 130px;
    margin:     0px 10px;
}

.avatar{
    margin: 5px 0px;
}

.likes {
    position: center;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 40px;
    margin-left: 20px;
}

.likes .up {
    background: green;
}

.likes .down {
    background: red;
}

.likes label {
    border: 1px solid black;
    text-align: center;
    width: 30px;
    height: 28px;
    padding: 5px 0px;
}

.likes .ratingBtns {
    width: 30px;
    height 40px;
}

.likes .ratingBtns button{
    height: 20px;
    padding: 0px 6px;
}

.questionDescription{
    flex-grow: 1;
    margin: 10px 10px;
}

.questionDescription h3{
    height: 20px;
    margin: 0px;
}

.questionDescription p{
    height: 85px;
    margin: 10px 0px;
}

.questionTags {
    margin-left: 10%;
}

hr {
    margin: 10px;
    size: 45px;
}

.answers {
    list-style: none;
}

.answer {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 165px;
    min-width: 490px;
    margin: 20px 0px;
    padding: 5px;
    box-shadow: 1px 1px 5px #555;
    background: #FFF9F0;
}

.pages {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.page{
    height: 30px;
    margin: 10px 3px;
    padding: 3px;
}

.page button{
    height: 30px;
    width: auto;
    padding: 5px 10px;
    border: 0.1em solid black;
    box-shadow: 3px 1px 5px #555;
    background: #ccc;
    outline: none;
    color: #fff;
}

.page button:hover {
    background: #aaa;
    cursor: pointer;
}

.page button:active {
    background: #aaa;
    box-shadow: none;
    cursor: pointer;
}

.writeAnswer {
    padding: 5px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px #555;
    margin: 10px 40px; 
}

.buttonAnswer {
    display: block;
    height: 2.3em;
    width: auto;
    padding: 0.5em;
    margin: 15px 40px;
    border: 0.1em solid black;
    border-radius: 0.2em;
    box-shadow: 3px 1px 5px #555;
    background: #ccc;
    outline: none;
    color: #fff;
}

.buttonAnswer:hover {
    background: #aaa;
    cursor: pointer;
}

.buttonAnswer:active {
    background: #aaa;
    box-shadow: none;
    cursor: pointer;
}