#content h1 {
    margin: 2em 1em;
    display: inline;
}

.mailError {
	color: red;
	margin: 1em 2em;
    display: block;
}

.login {
	display:flex;
	flex-direction: row;
	width: 70%;
}

.names {
	flex-grow: 1;
}

.values {
	flex-grow: 2;
}

.names label {
	display: block;
	margin: 12px 1.5em;
	padding: 5px;
	font-size: 17px;
}

.values input:not(.inputAvatar) {
	display: block;
	width: 100%;
	padding: 5px;
	border: 2.5px solid black;
	box-shadow: 1px 1px 1px #555;
	margin: 12px 1.5em; 
}

.inputAvatar {
	margin: 0px 1.5em; 
	padding: 5px;
}

.values button {
    display: block;
    height: 2.3em;
    width: 20%;
    padding: 0.5em;
    margin: 15px 1.5em;
    border: 0.1em solid black;
    border-radius: 0.2em;
    box-shadow: 3px 1px 5px #555;
    background: #ccc;
    outline: none;
    color: #fff;
}

.values button:hover {
    background: #aaa;
    cursor: pointer;
}

.values button:active {
    background: #aaa;
    box-shadow: none;
    cursor: pointer;
}
